// Colors

$clr-primary: #FF4C60;
$clr-secondary: #FFD15C;
$clr-tertiary: #6C6CE5;

$clr-base: #353353;
$clr-base-dk: #302F4E;
$clr-base-lt: #454360;

$clr-helper: #F9F9FF;
$clr-helper-dk: rgba(0, 0, 0, .1);
$clr-helper-lt: rgba(255, 255, 255, .1);

$clr-ntrl-max: #FFF;
$clr-ntrl-min: #000;
