@use '../../styles/utils' as *;

:root {
  --clr-primary: #FF4C60;
  --clr-secondary: #FFD15C;
  --clr-tertiary: #6C6CE5;
  --clr-ntrl-max: #FFFFFF;
  --clr-ntrl-min: #000000;
}

.light {
  --clr-heading: #353353;
  --clr-base: #454360;
  --clr-border: rgba(0, 0, 0, .1);
  --clr-bg: #F9F9FF;
}

.dark {
  --clr-heading: var(--clr-ntrl-max);
  --clr-base: var(--clr-ntrl-max);
  --clr-border: rgba(255, 255, 255, .1);
  --clr-bg: #353353;
}
